body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 60px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  padding: 30px;
  text-align: center;
}

h1 {
  color: #333;
}

input[type="file"], input[type="text"] {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 19px;
}

button {
  background: #5A67D8;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 19px;
  margin-left: 10px;
}

button:hover {
  background: #434190;
}

#output {
  margin-top: 30px;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  text-align: left;
}

#answerText {
  color: #111;
  white-space: pre-line;
}

.upload{
    padding-bottom: 30px;
}